
.not-found {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    text-align: center;
}

.not-found h2 {
    font-size: 3rem; 
    margin-bottom: 20px; 
}

.not-found button {
    padding: 10px 20px;
    font-size: 1.2rem;
    cursor: pointer;
}
